body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1247px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:85px;
  width:414px;
  height:736px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:735px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:86px;
  width:414px;
  height:735px;
  opacity:0.6;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:103px;
  width:35px;
  height:14px;
  opacity:0.9;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:103px;
  width:39px;
  height:16px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:103px;
  width:37px;
  height:18px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:103px;
  width:41px;
  height:16px;
  opacity:0.9;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:53px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:769px;
  width:414px;
  height:52px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:775px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:775px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:774px;
  width:93px;
  height:40px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:38px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:20px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:85px;
  width:414px;
  height:736px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:735px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:86px;
  width:414px;
  height:735px;
  opacity:0.6;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:103px;
  width:35px;
  height:14px;
  opacity:0.9;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:103px;
  width:39px;
  height:16px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:103px;
  width:37px;
  height:18px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:103px;
  width:41px;
  height:16px;
  opacity:0.9;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:53px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:769px;
  width:414px;
  height:52px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:775px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:775px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:774px;
  width:93px;
  height:40px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:276px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:245px;
  width:414px;
  height:275px;
  opacity:0.8;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:245px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:290px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:336px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:382px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:260px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:306px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:353px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:399px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:302px;
  width:151px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:256px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:348px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:394px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:474px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:491px;
  width:56px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:428px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:486px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:443px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:438px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:66px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:151px;
  width:414px;
  height:65px;
  opacity:0.8;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:168px;
  width:54px;
  height:31px;
  opacity:0.8;
  font-size:26px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:66px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:142px;
  width:414px;
  height:65px;
  opacity:0.8;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:164px;
  width:49px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:162px;
  width:54px;
  height:31px;
  font-size:26px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:49px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:247px;
  width:414px;
  height:48px;
  opacity:0.8;
  font-size:20px;
  text-align:left;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:410px;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:300px;
  width:263px;
  height:23px;
  font-size:20px;
  color:#999999;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:49px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:343px;
  width:414px;
  height:48px;
  opacity:0.8;
  font-size:20px;
  text-align:left;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:410px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:24px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:396px;
  width:323px;
  height:23px;
  font-size:20px;
  color:#999999;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:49px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:444px;
  width:414px;
  height:48px;
  opacity:0.8;
  font-size:20px;
  text-align:left;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:410px;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:497px;
  width:143px;
  height:23px;
  font-size:20px;
  color:#999999;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:356px;
  width:35px;
  height:26px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:38px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:20px;
  width:267px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:224px;
  height:19px;
}
#u493p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:220px;
  height:6px;
}
#u493p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:8px;
}
#u493p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u493p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u493p002 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
}
#u493p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:24px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:334px;
  width:215px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:400px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:24px;
  height:29px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:317px;
  width:13px;
  height:18px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:63px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:331px;
  width:44px;
  height:62px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:965px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:86px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1020px;
  width:414px;
  height:85px;
  font-size:20px;
  text-align:left;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:38px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:965px;
  width:203px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:298px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:1020px;
  width:414px;
  height:297px;
  font-size:20px;
  text-align:left;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:410px;
  word-wrap:break-word;
}
