body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:804px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:109px;
  width:100px;
  height:60px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u414_ref {
  border-width:0px;
  position:absolute;
  left:509px;
  top:159px;
  width:1px;
  height:1px;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:194px;
  width:100px;
  height:60px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u415_ref {
  border-width:0px;
  position:absolute;
  left:221px;
  top:244px;
  width:1px;
  height:1px;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:194px;
  width:100px;
  height:60px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u416_ref {
  border-width:0px;
  position:absolute;
  left:336px;
  top:244px;
  width:1px;
  height:1px;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:194px;
  width:100px;
  height:60px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u417_ref {
  border-width:0px;
  position:absolute;
  left:451px;
  top:244px;
  width:1px;
  height:1px;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:194px;
  width:100px;
  height:60px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u418_ref {
  border-width:0px;
  position:absolute;
  left:566px;
  top:244px;
  width:1px;
  height:1px;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:194px;
  width:100px;
  height:60px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u419_ref {
  border-width:0px;
  position:absolute;
  left:681px;
  top:244px;
  width:1px;
  height:1px;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:194px;
  width:100px;
  height:60px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u420_ref {
  border-width:0px;
  position:absolute;
  left:796px;
  top:244px;
  width:1px;
  height:1px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:169px;
  width:0px;
  height:0px;
}
#u421_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u421_seg1 {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:7px;
  width:296px;
  height:8px;
}
#u421_seg2 {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:7px;
  width:8px;
  height:18px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:169px;
  width:0px;
  height:0px;
}
#u422_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u422_seg1 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:7px;
  width:181px;
  height:8px;
}
#u422_seg2 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:7px;
  width:8px;
  height:18px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:169px;
  width:0px;
  height:0px;
}
#u423_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u423_seg1 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:7px;
  width:66px;
  height:8px;
}
#u423_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:7px;
  width:8px;
  height:18px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:169px;
  width:0px;
  height:0px;
}
#u424_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u424_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:65px;
  height:8px;
}
#u424_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:7px;
  width:8px;
  height:18px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:169px;
  width:0px;
  height:0px;
}
#u425_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u425_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:180px;
  height:8px;
}
#u425_seg2 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:7px;
  width:8px;
  height:18px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:169px;
  width:0px;
  height:0px;
}
#u426_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u426_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:295px;
  height:8px;
}
#u426_seg2 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:7px;
  width:8px;
  height:18px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:95px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
