body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:25px;
  width:100px;
  height:60px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u382_ref {
  border-width:0px;
  position:absolute;
  left:405px;
  top:75px;
  width:1px;
  height:1px;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:110px;
  width:100px;
  height:60px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u383_ref {
  border-width:0px;
  position:absolute;
  left:117px;
  top:160px;
  width:1px;
  height:1px;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:110px;
  width:100px;
  height:60px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u384_ref {
  border-width:0px;
  position:absolute;
  left:232px;
  top:160px;
  width:1px;
  height:1px;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:110px;
  width:100px;
  height:60px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u385_ref {
  border-width:0px;
  position:absolute;
  left:347px;
  top:160px;
  width:1px;
  height:1px;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:110px;
  width:100px;
  height:60px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u386_ref {
  border-width:0px;
  position:absolute;
  left:462px;
  top:160px;
  width:1px;
  height:1px;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:110px;
  width:100px;
  height:60px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u387_ref {
  border-width:0px;
  position:absolute;
  left:577px;
  top:160px;
  width:1px;
  height:1px;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:110px;
  width:100px;
  height:60px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u388_ref {
  border-width:0px;
  position:absolute;
  left:692px;
  top:160px;
  width:1px;
  height:1px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:85px;
  width:0px;
  height:0px;
}
#u389_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u389_seg1 {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:11px;
  width:296px;
  height:8px;
}
#u389_seg2 {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:11px;
  width:8px;
  height:14px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:-192px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:85px;
  width:0px;
  height:0px;
}
#u390_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u390_seg1 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:11px;
  width:181px;
  height:8px;
}
#u390_seg2 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:11px;
  width:8px;
  height:14px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:85px;
  width:0px;
  height:0px;
}
#u391_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u391_seg1 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:11px;
  width:66px;
  height:8px;
}
#u391_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:11px;
  width:8px;
  height:14px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:85px;
  width:0px;
  height:0px;
}
#u392_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u392_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:11px;
  width:65px;
  height:8px;
}
#u392_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:11px;
  width:8px;
  height:14px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:85px;
  width:0px;
  height:0px;
}
#u393_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u393_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:11px;
  width:180px;
  height:8px;
}
#u393_seg2 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:11px;
  width:8px;
  height:14px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:85px;
  width:0px;
  height:0px;
}
#u394_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u394_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:11px;
  width:295px;
  height:8px;
}
#u394_seg2 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:11px;
  width:8px;
  height:14px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:91px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
