body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:143px;
  width:414px;
  height:736px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:735px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:144px;
  width:414px;
  height:735px;
  opacity:0.6;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:161px;
  width:35px;
  height:14px;
  opacity:0.9;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:161px;
  width:39px;
  height:16px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:161px;
  width:37px;
  height:18px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:161px;
  width:41px;
  height:16px;
  opacity:0.9;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:53px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:827px;
  width:414px;
  height:52px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:833px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:833px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:832px;
  width:93px;
  height:40px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:276px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:303px;
  width:414px;
  height:275px;
  opacity:0.8;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:303px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:348px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:394px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:440px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:318px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:364px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:411px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:457px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:360px;
  width:151px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:314px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:406px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:452px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:532px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:549px;
  width:56px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:47px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:486px;
  width:414px;
  height:46px;
  opacity:0.8;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:544px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:501px;
  width:38px;
  height:22px;
  opacity:0.8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:496px;
  width:90px;
  height:24px;
  opacity:0.8;
  font-size:20px;
  color:#999999;
  text-align:right;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:66px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:209px;
  width:414px;
  height:65px;
  opacity:0.8;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:226px;
  width:54px;
  height:31px;
  opacity:0.8;
  font-size:26px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:38px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:86px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:215px;
  height:19px;
}
#u625p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:212px;
  height:6px;
}
#u625p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:8px;
}
#u625p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u625p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u625p002 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u625p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:459px;
  width:206px;
  height:1px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:530px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:24px;
  height:29px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:440px;
  width:13px;
  height:18px;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:63px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:461px;
  width:44px;
  height:62px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:142px;
  width:414px;
  height:736px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:735px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:143px;
  width:414px;
  height:735px;
  opacity:0.6;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:160px;
  width:35px;
  height:14px;
  opacity:0.9;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:160px;
  width:39px;
  height:16px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:160px;
  width:37px;
  height:18px;
  opacity:0.9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:160px;
  width:41px;
  height:16px;
  opacity:0.9;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:53px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:826px;
  width:414px;
  height:52px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:832px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:832px;
  width:93px;
  height:40px;
  opacity:0.8;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:831px;
  width:93px;
  height:40px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:66px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:209px;
  width:414px;
  height:65px;
  opacity:0.8;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:231px;
  width:49px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:229px;
  width:54px;
  height:31px;
  font-size:26px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:62px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:292px;
  width:414px;
  height:61px;
  opacity:0.8;
  font-size:18px;
  text-align:left;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:308px;
  width:50px;
  height:31px;
  opacity:0.8;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:310px;
  width:49px;
  height:29px;
  opacity:0.8;
  font-size:24px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:17px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:363px;
  width:357px;
  height:16px;
  font-size:18px;
  color:#666666;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:51px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:665px;
  width:298px;
  height:50px;
  font-size:24px;
  text-align:center;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:443px;
  width:300px;
  height:170px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:212px;
  height:22px;
}
#u654p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:206px;
  height:4px;
}
#u654p000_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:210px;
  height:8px;
}
#u654p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-11px;
  width:24px;
  height:24px;
}
#u654p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:28px;
}
#u654p002 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:-1px;
  width:4px;
  height:4px;
}
#u654p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:323px;
  width:200px;
  height:2px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:390px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:24px;
  height:29px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:300px;
  width:13px;
  height:18px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:63px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:321px;
  width:44px;
  height:62px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:38px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:947px;
  width:203px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:631px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:1009px;
  width:414px;
  height:630px;
  font-size:20px;
  text-align:left;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:410px;
  word-wrap:break-word;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1409px;
  width:300px;
  height:170px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:35px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:1429px;
  width:255px;
  height:34px;
  font-size:20px;
  text-align:center;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:47px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:1534px;
  width:149px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:47px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:1533px;
  width:149px;
  height:46px;
  font-size:20px;
  color:#0000FF;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:947px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:86px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1006px;
  width:414px;
  height:85px;
  font-size:20px;
  text-align:left;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:38px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:86px;
  width:267px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
