body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:25px;
  width:100px;
  height:60px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u117_ref {
  border-width:0px;
  position:absolute;
  left:232px;
  top:75px;
  width:1px;
  height:1px;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:110px;
  width:100px;
  height:60px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u118_ref {
  border-width:0px;
  position:absolute;
  left:117px;
  top:160px;
  width:1px;
  height:1px;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:110px;
  width:100px;
  height:60px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u119_ref {
  border-width:0px;
  position:absolute;
  left:232px;
  top:160px;
  width:1px;
  height:1px;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:110px;
  width:100px;
  height:60px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u120_ref {
  border-width:0px;
  position:absolute;
  left:347px;
  top:160px;
  width:1px;
  height:1px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:85px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:11px;
  width:123px;
  height:8px;
}
#u121_seg2 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:11px;
  width:8px;
  height:14px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:85px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:85px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:11px;
  width:123px;
  height:8px;
}
#u123_seg2 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:11px;
  width:8px;
  height:14px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
